In [2]:
# Reading the file
import pandas as pd
data = pd.read_csv("C:\\Users\\muska\\OneDrive\\Desktop\\Voosh_intern\\final.csv")
data.head()

,Unnamed: 0,order_id,order_date,store_id,voosh_id,gross_revenue,pro_discount_share,customer_compensation,customer_discount_amount,commissionable_amount,...,tcs,tds,received_cash,credit_note_adjustment,promo_recovery_adjustment,ice_cream_deduction,ice_cream_handling_charge,support_cost_adjustment,total_adjustment,net_receivable
0,0,2280873211,2021-07-24 13:37:29,19495100,50311,110.70,0,0.0,0,106.0,...,1.06,1.06,0,0,0,0,0,0,0,78.65
1,1,2915929659,2021-07-07 13:46:35,19495100,50311,123.40,0,0.0,0,118.0,...,1.18,1.18,0,0,0,0,0,0,0,87.73
2,2,2213726615,2021-07-06 22:50:07,19495100,50311,123.15,0,0.0,0,118.0,...,1.18,1.18,0,0,0,0,0,0,0,87.48
3,3,2567980358,2021-07-17 13:31:28,19495100,50311,207.72,0,0.0,0,198.4,...,1.98,1.98,0,0,0,0,0,0,0,147.74
4,4,2508365165,2021-07-17 14:31:31,19495100,50311,115.95,0,0.0,0,111.0,...,1.11,1.11,0,0,0,0,0,0,0,82.40

In [3]:
# Drop the unwanted column, here Unnamed column
data.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
data.head()

,order_id,order_date,store_id,voosh_id,gross_revenue,pro_discount_share,customer_compensation,customer_discount_amount,commissionable_amount,commission_pct,...,tcs,tds,received_cash,credit_note_adjustment,promo_recovery_adjustment,ice_cream_deduction,ice_cream_handling_charge,support_cost_adjustment,total_adjustment,net_receivable
0,2280873211,2021-07-24 13:37:29,19495100,50311,110.70,0,0.0,0,106.0,22,...,1.06,1.06,0,0,0,0,0,0,0,78.65
1,2915929659,2021-07-07 13:46:35,19495100,50311,123.40,0,0.0,0,118.0,22,...,1.18,1.18,0,0,0,0,0,0,0,87.73
2,2213726615,2021-07-06 22:50:07,19495100,50311,123.15,0,0.0,0,118.0,22,...,1.18,1.18,0,0,0,0,0,0,0,87.48
3,2567980358,2021-07-17 13:31:28,19495100,50311,207.72,0,0.0,0,198.4,22,...,1.98,1.98,0,0,0,0,0,0,0,147.74
4,2508365165,2021-07-17 14:31:31,19495100,50311,115.95,0,0.0,0,111.0,22,...,1.11,1.11,0,0,0,0,0,0,0,82.40

In [9]:
# No of unquie values in each column
l=data.nunique()

In [10]:
l

order_id                     397
order_date                   315
store_id                      17
voosh_id                      17
gross_revenue                177
pro_discount_share             1
customer_compensation          1
customer_discount_amount       1
commissionable_amount        147
commission_pct                 2
commission_value             147
convenience_fee              156
piggy_bank                     1
logistic_charges               1
penalty_amount                 1
credit_charge                  1
cancellation_refund            3
taxes_on_zomato_fees         149
tcs                           94
tds                           42
received_cash                  1
credit_note_adjustment         1
promo_recovery_adjustment      1
ice_cream_deduction            1
ice_cream_handling_charge      1
support_cost_adjustment        1
total_adjustment               1
net_receivable               318
dtype: int64

In [12]:
name_list=list(data)

In [13]:
name_list

['order_id',
 'order_date',
 'store_id',
 'voosh_id',
 'gross_revenue',
 'pro_discount_share',
 'customer_compensation',
 'customer_discount_amount',
 'commissionable_amount',
 'commission_pct',
 'commission_value',
 'convenience_fee',
 'piggy_bank',
 'logistic_charges',
 'penalty_amount',
 'credit_charge',
 'cancellation_refund',
 'taxes_on_zomato_fees',
 'tcs',
 'tds',
 'received_cash',
 'credit_note_adjustment',
 'promo_recovery_adjustment',
 'ice_cream_deduction',
 'ice_cream_handling_charge',
 'support_cost_adjustment',
 'total_adjustment',
 'net_receivable']

In [14]:
for i in range(len(l)):
    if l[i]==1:
        data.drop(name_list[i],axis=1,inplace=True)

In [15]:
data.nunique()

order_id                 397
order_date               315
store_id                  17
voosh_id                  17
gross_revenue            177
commissionable_amount    147
commission_pct             2
commission_value         147
convenience_fee          156
cancellation_refund        3
taxes_on_zomato_fees     149
tcs                       94
tds                       42
net_receivable           318
dtype: int64

In [17]:
name_list=list(data)

In [18]:
name_list

['order_id',
 'order_date',
 'store_id',
 'voosh_id',
 'gross_revenue',
 'commissionable_amount',
 'commission_pct',
 'commission_value',
 'convenience_fee',
 'cancellation_refund',
 'taxes_on_zomato_fees',
 'tcs',
 'tds',
 'net_receivable']

In [19]:
data["store_id"].value_counts()

19621413    82
19700325    51
19649782    48
19679486    48
19725765    34
19726785    33
19672500    31
19607759    28
19634367    20
19735852    19
19495100    13
19714829    12
19726467     9
19667750     8
19634568     4
19691659     3
19662229     1
Name: store_id, dtype: int64

In [20]:
data["voosh_id"].value_counts()

50131    82
50481    51
50261    48
50431    48
50551    34
50352    33
50351    31
50121    28
50201    20
50621    19
50311    13
50541    12
50581     9
50741     8
50202     4
50461     3
50301     1
Name: voosh_id, dtype: int64

In [25]:
data['voosh_id'].value_counts().__len__()

17

In [51]:
voosh = data['voosh_id'].unique()

In [52]:
new_df = pd.DataFrame(columns=name_list[3:])

In [53]:
data[data['voosh_id']==50311]

,order_id,order_date,store_id,voosh_id,gross_revenue,commissionable_amount,commission_pct,commission_value,convenience_fee,cancellation_refund,taxes_on_zomato_fees,tcs,tds,net_receivable
0,2280873211,2021-07-24 13:37:29,19495100,50311,110.70,106.00,22,23.32,2.04,0.0,4.57,1.06,1.06,78.65
1,2915929659,2021-07-07 13:46:35,19495100,50311,123.40,118.00,22,25.96,2.27,0.0,5.08,1.18,1.18,87.73
2,2213726615,2021-07-06 22:50:07,19495100,50311,123.15,118.00,22,25.96,2.27,0.0,5.08,1.18,1.18,87.48
3,2567980358,2021-07-17 13:31:28,19495100,50311,207.72,198.40,22,43.65,3.82,0.0,8.55,1.98,1.98,147.74
4,2508365165,2021-07-17 14:31:31,19495100,50311,115.95,111.00,22,24.42,2.13,0.0,4.78,1.11,1.11,82.40
5,3691649072,2021-07-31 20:25:36,19495100,50311,114.39,109.51,22,24.09,2.10,0.0,4.72,1.10,1.10,81.28
6,2605226634,2021-07-12 20:36:37,19495100,50311,205.65,198.00,22,43.56,3.78,0.0,8.52,1.98,1.98,145.83
7,2630986407,2021-07-14 20:35:58,19495100,50311,110.70,106.00,22,23.32,2.04,0.0,4.57,1.06,1.06,78.65
8,3138699845,2021-07-25 20:26:59,19495100,50311,119.86,115.87,22,25.49,2.21,0.0,4.99,1.16,1.16,84.85
9,2728539867,2021-07-23 12:25:47,19495100,50311,126.45,121.00,22,26.62,2.33,0.0,5.21,1.21,1.21,89.87
10,2465776529,2021-07-23 20:38:20,19495100,50311,104.46,101.20,22,22.26,1.92,0.0,4.36,1.01,1.01,73.90
11,2343874983,2021-07-19 19:33:56,19495100,50311,126.45,121.00,22,26.62,2.33,0.0,5.21,1.21,1.21,89.87
12,2838613272,2021-07-15 14:07:17,19495100,50311,212.16,203.20,22,44.70,3.90,0.0,8.75,2.03,2.03,150.75

In [54]:
for i in voosh:
    temp = data[data['voosh_id']==i]
    d = {}
    d.setdefault('voosh_id',int(i))
    for j in name_list[4:]:
        if j!='commission_pct':
            ans = temp[j].sum()
            d.setdefault(j,ans)
        else:
            ans = temp[j].sum()/len(temp)
            d.setdefault(j,ans)
    new_df = new_df.append(d,ignore_index=True)

In [55]:
new_df['voosh_id'] = new_df['voosh_id'].apply(lambda x:int(x))

In [56]:
new_df

,voosh_id,gross_revenue,commissionable_amount,commission_pct,commission_value,convenience_fee,cancellation_refund,taxes_on_zomato_fees,tcs,tds,net_receivable
0,50311,1801.04,1727.18,22.000000,379.97,33.14,0.00,74.39,17.27,17.27,1279.00
1,50121,2675.49,2568.80,12.571429,565.14,49.21,0.00,110.60,25.69,25.69,1873.00
2,50131,15990.03,15325.57,22.000000,3371.60,294.22,0.00,659.84,153.25,0.00,11511.12
3,50201,3404.19,3272.80,22.000000,720.01,62.65,0.00,140.89,0.00,0.00,2480.64
4,50202,1027.27,983.40,22.000000,216.35,18.90,0.00,42.35,0.00,0.00,749.67
5,50261,7606.22,7350.06,16.500000,1617.01,139.97,0.00,316.24,0.00,0.00,4806.64
6,50301,111.22,106.50,22.000000,23.43,2.05,0.00,4.59,0.00,0.00,81.15
7,50741,1249.35,1209.00,22.000000,265.98,22.98,0.00,52.00,12.09,12.09,884.21
8,50351,1457.66,1396.01,4.967742,307.12,26.82,0.00,60.10,13.97,0.00,709.02
9,50431,6277.05,6011.52,16.500000,1322.53,115.47,0.00,258.86,60.13,60.13,4278.44
10,50461,335.77,321.40,22.000000,70.71,6.18,0.00,13.84,3.21,3.21,238.62
11,50481,1456.19,1399.80,3.882353,307.96,26.79,165.69,60.25,0.00,0.00,875.25
12,50541,2257.44,2165.51,22.000000,476.41,41.54,0.00,93.22,0.00,0.00,1646.27
13,50551,5815.39,5572.61,22.000000,1225.97,107.00,0.00,239.97,55.74,0.00,4186.71
14,50581,2407.20,2302.00,17.111111,506.44,44.29,0.00,99.14,0.00,0.00,1675.37
15,50352,2240.43,2146.70,7.333333,472.27,41.23,0.00,92.43,21.48,0.00,1011.35
16,50621,1775.49,1700.90,11.578947,374.20,32.66,82.80,73.26,0.00,0.00,941.42

In [57]:
new_df.to_csv(r'C:\\Users\\muska\\OneDrive\\Desktop\\Voosh_intern\\final_output_new.csv')